<div class="masterOwnerships form">
<?php echo $this->Form->create('MasterOwnership');?>
	<fieldset>
		<legend><?php __('Add Master Ownership'); ?></legend>
	<?php
		echo $this->Form->input('id',array('type'=>'text'));
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit', true));?>
</div>
<div class="actions">
	<h3><?php __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Master Ownerships', true), array('action' => 'index'));?></li>
	</ul>
</div>