<div class="buyrs form">
<?php echo $this->Form->create('Buyr');?>
	<fieldset>
		<legend><?php __('Add Buyr'); ?></legend>
	<?php
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit', true));?>
</div>
<div class="actions">
	<h3><?php __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Buyrs', true), array('action' => 'index'));?></li>
	</ul>
</div>