<div class="buyrs view">
<h2><?php  __('Buyr');?></h2>
	<dl><?php $i = 0; $class = ' class="altrow"';?>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Id'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $buyr['Buyr']['id']; ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<h3><?php __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Edit Buyr', true), array('action' => 'edit', $buyr['Buyr']['id'])); ?> </li>
		<li><?php echo $this->Html->link(__('Delete Buyr', true), array('action' => 'delete', $buyr['Buyr']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $buyr['Buyr']['id'])); ?> </li>
		<li><?php echo $this->Html->link(__('List Buyrs', true), array('action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Buyr', true), array('action' => 'add')); ?> </li>
	</ul>
</div>
