<div class="masterEmploymentTypes form">
<?php echo $this->Form->create('MasterEmploymentType');?>
	<fieldset>
		<legend><?php __('Add Master Employment Type'); ?></legend>
	<?php
		echo $this->Form->input('id',array('type'=>'text'));
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit', true));?>
</div>
<div class="actions">
	<h3><?php __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Master Employment Types', true), array('action' => 'index'));?></li>
	</ul>
</div>